<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ css }}">
    <script type="text/javascript" src="{{ scripts_js }}"></script>

    <!--    Bootstrap   -->
    <link rel="stylesheet" type="text/css" href="{{ bootstrap_css }}"/>
    <script src="{{ bootstrap_js }}"></script>
<!--    <link rel="stylesheet" href="static/styles.css">-->
<!--    <script type="text/javascript" src="static/scripts.js"></script>-->

<!--    &lt;!&ndash;    Bootstrap   &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="static/bootstrap.css"/>-->
<!--    <script src="static/bootstrap.js"></script>-->

    <title>Add your movie</title>

</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="text-light"><h1>Movies</h1></a>

    </nav>
