

<section class="main-content">
    
    <div class="container justify-content-center p-3">
        <div class="align-self-center">
            
            <div class="row">
                <h2>Add a movie</h2>
            </div>

            <div class="row">
                <form class="form-inline" method="POST" action="/get_imdb_url"/>

                    <div class="form-group mx-2"> 
                        <label for="url">IMDB url:</label>
                    </div>
                    <div class="form-group mx-2">
                        <input type="text" class="form-control" name="url" required>
                    </div>
                    <div class="form-group mx-2">
                        <a><input class="btn btn-info text-light" type="submit" value="Add"></a>
                    </div>
                                        
                </form>
            </div>

            

        </div>

    </div>




</section>

